name: CI Package

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  package:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.6.2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Package
        run: pnpm package

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: forge-artifacts-${{ matrix.os }}
          path: |
            apps/desktop/out/make/**/*
            apps/desktop/out/**/*.zip
          if-no-files-found: warn
